/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


* {
    box-sizing: border-box;
  }
html {
  height: 100vh;
}
html, body { 
  margin: 0; padding: 0;
  height: 100%; 
  /* overflow: auto; */
}
body { 
  overflow: auto;
  /* margin: 100;  */
  /* overflow: hidden; */
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #cdcdcd;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}

